<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/00b246f0-b883-4c67-8592-65447ecdffc9/resourceGroups/app-grp/providers/Microsoft.Web/sites/udemy-webapp-windows</ResourceId>
    <ResourceGroup>app-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://udemy-webapp-windows.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://udemy-webapp-windows.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$udemy-webapp-windows</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>